ion-title{
    text-align: center;
    font-size: 30px;
}
ion-menu{
    height: 100%;
}
.menu-header{
    text-align: center;
    display: grid;
    padding: 20px;
    ion-text{
        font-size: 30px;
        font-weight: bold;
    }
    .name{
        padding-top: 20px;
        font-weight: bold;
    }
    .role{
        padding-bottom: 20px;
        font-style: italic;
    }
}
ion-content{
    height: 100%;
}
ion-list{
    height: 100%;
}
.btn-logout{
    position: absolute;
    bottom: 0%;
    width: 99%;
}